		/* Прижатый футер */

.wrapper {
    display: table;
	width: 100%;
}
.headerCon,
.contentCon, 
.footerCon {
    display: table-row;
}
.headerCon,
.footerCon {
    height: 1px;
}

		/* Placeholder */

.placeholderStyle {
	color: #676767 !important;
}