/*
19beff
4bb4e9
08c
*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000;
	line-height: 1.25;
}
html, body, div, span, applet, object, iframe,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
table, caption, tbody, tfoot, thead, tr, th, td,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
}
a {
	color: inherit;
	text-decoration: underline;
}
a:focus,
a:hover {
	color: #19beff;
	text-decoration: none;
	outline: none;
}
h1, h2, h3, .h1, .h2, .h3 {
	text-align: center;
	margin: 0;
	font-weight: 400;
}
h1, .h1 {
	margin-bottom: 3px;
	font-size: 30px;
}
h2, .h2 {
	margin-bottom: 9px;
	font-size: 24px;
}
h3, .h3 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
}
.marginBottomH h1,
.marginBottomH .h1 {
	margin-bottom: 21px;
}
.imgRespon img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}
.simpleCon {
	padding-left: 20px;
	padding-right: 20px;
	min-width: 1000px;
}
.simpleBox {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
.contentBlock {
	margin-top: 21px;
	margin-bottom: 21px;
}
.fontW600 {
	font-weight: 600;
	margin-bottom: 10px;
}
.wrapper {
	min-width: 1000px;
}

		/* Прижатый футер */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.wrapper {
	display: table;
	width: 100%;
}
.headerCon,
.contentCon,
.footerCon {
	display: table-row;
}
.headerCon,
.footerCon {
	height: 1px;
}
/*.wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	min-height: 100vh;
	-webkit-flex-direction: column;
	   -moz-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}
.contentCon {
	-webkit-flex: 1 1 auto;
	   -moz-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;
}*/

		/* Modal */

.modal .h1 {
	margin: 0;
	font-weight: 300;
}
.modal-dialog {
	width: 540px;
}
.bigModal .modal-dialog {
	width: 920px;
}
.modal-content {
	box-shadow: none;
	border-radius: 0;
	border: 0 none;
}
.modal-header {
	padding: 20px 55px 10px;
	border: 0 none;
}
.modal .close {
	position: absolute;
	top: 20px;
	right: 20px;
	overflow: hidden;
	display: block;
	margin-top: 0;
	opacity: 1;
	width: 18px;
	height: 18px;
	text-indent: -999px;
	background: url(../img/sprite.png) 0 -74px no-repeat;
}
.modal .close:focus,
.modal .close:hover {
	opacity: 1;
	outline: none;
	background-position: -18px -74px;
}

		/*		Placeholder		*/

input[placeholder] {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
input::-webkit-input-placeholder {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
input::-moz-placeholder {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
input:-moz-placeholder {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
input:-ms-input-placeholder {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
textarea[placeholder] {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
textarea::-webkit-input-placeholder {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
textarea::-moz-placeholder {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
textarea:-moz-placeholder {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
textarea:-ms-input-placeholder {
	font-size: 16px;
	font-style: normal;
	color: #676767;
	opacity: 1;
}
input,
textarea {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	width: 100%;
	font-size: 16px;
	color: #000 !important;
	border: solid 1px #6a6a6a;
}
textarea {
	resize: none;
}
input:focus,
textarea:focus {
	border-color: #4bb4e9;
	outline: none;
}
input[type="submit"],
.greenButton,
.orangeButton,
.blueButton,
.order2Con>li>a span {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 320px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	color: #fff !important;
	text-transform: uppercase;
	border-radius: 4px;
	text-decoration: none;
	border: 0 none;
	cursor: pointer;
}
input[type="submit"]:focus,
input[type="submit"]:hover,
.greenButton:focus,
.greenButton:hover,
.orangeButton:focus,
.orangeButton:hover,
.blueButton:focus,
.blueButton:hover,
.order2Con>li>a:focus span,
.order2Con>li>a:hover span {
	color: #fff;
}
input[type="submit"],
.greenButton,
.order2Con>li:nth-child(3n)>a span {
	text-shadow: 0 0 2px #2d9010;
	background: #61cf42;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68de47', endColorstr='#61cf42');
    background: -webkit-linear-gradient(top, #68de47, #61cf42);
    background:    -moz-linear-gradient(top, #68de47, #61cf42);
    background: 	 -o-linear-gradient(top, #68de47, #61cf42);
    background:   linear-gradient(to bottom, #68de47, #61cf42);
}
input[type="submit"]:focus,
input[type="submit"]:hover,
.greenButton:focus,
.greenButton:hover,
.order2Con>li:nth-child(3n)>a:focus span,
.order2Con>li:nth-child(3n)>a:hover span {
	background: #68de47;
}
.orangeButton,
.order2Con>li:nth-child(3n+2)>a span {
	text-shadow: 0 0 2px #895109;
	background: #ff9000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa0', endColorstr='#ff9000');
	background: -webkit-linear-gradient(top, #fa0, #ff9000);
	background:    -moz-linear-gradient(top, #fa0, #ff9000);
	background: 	 -o-linear-gradient(top, #fa0, #ff9000);
	background:   linear-gradient(to bottom, #fa0, #ff9000);
}
.orangeButton:focus,
.orangeButton:hover,
.order2Con>li:nth-child(3n+2)>a:focus span,
.order2Con>li:nth-child(3n+2)>a:hover span {
	background: #fa0;
}
.blueButton,
input[type="submit"].blueButton,
.order2Con>li:nth-child(3n+1)>a span {
	text-shadow: 0 0 2px #127ca6;
	background: #18b3f0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19beff', endColorstr='#18b3f0');
	background: -webkit-linear-gradient(top, #19beff, #18b3f0);
	background:    -moz-linear-gradient(top, #19beff, #18b3f0);
	background: 	 -o-linear-gradient(top, #19beff, #18b3f0);
	background:   linear-gradient(to bottom, #19beff, #18b3f0);
}
.blueButton:focus,
.blueButton:hover,
input[type="submit"].blueButton:focus,
input[type="submit"].blueButton:hover,
.order2Con>li:nth-child(3n+1)>a:focus span,
.order2Con>li:nth-child(3n+1)>a:hover span {
	background: #19beff;
}
input[type="submit"]:active,
.greenButton:active,
.orangeButton:active,
.blueButto:active,
.order2Con>li>a:active span {
	line-height: 44px;
}
.formDescription {
	margin-bottom: 15px;
	font-size: 14px;
}
.formDescription span {
	color: #676767;
}
label {
	font-weight: 400;
	cursor: pointer;
}

		/* Анимация */

.modalCat>li>a,
.modalCatText {
	-webkit-transition: all .5s ease-out 0s;
	-moz-transition: all .5s ease-out 0s;
	-o-transition: all .5s ease-out 0s;
	transition: all .5s ease-out 0s;
}

		/* Table */

table.tableStyle {
	text-align: center;
	margin-top: 21px;
	margin-bottom: 21px;
	width: 100%;
	font-size: 14px;
}
table.tableStyle tbody tr {
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: dashed 1px #ccc;
}
table.tableStyle thead tr {
	color: #fff;
	border-color: #19beff;
	background: #19beff;
}
table.tableStyle tbody tr:last-child {
	border-bottom: solid 1px #ccc;
}
table.tableStyle tbody tr:hover {
	background: #c5efff;
}
table.tableStyle tr td {
	width: 15%;
	padding: 11px 9px;
}
table.tableStyle tr td:first-child {
	width: 40%;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
table.tableStyle thead tr td:first-child {
	text-align: center;
}

		/* Event */

.event::before {
	content: "";
	height: 104px;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-indent: -999px;
	top: 0;
	width: 104px;
	z-index: 5;
}
.event1.event::before {
	background: rgba(0, 0, 0, 0) url("../img/event/event_bg_orange.png") no-repeat scroll left top;
}
.event2.event::before {
	background: rgba(0, 0, 0, 0) url("../img/event/event_bg_red.png") no-repeat scroll left top;
}
.event3.event::before {
	background: rgba(0, 0, 0, 0) url("../img/event/event_bg_green.png") no-repeat scroll left top;
}
.event4.event::before {
	background: rgba(0, 0, 0, 0) url("../img/event/event_bg_blue.png") no-repeat scroll left top;
}
.event::after {
	color: #fff;
	height: 104px;
	left: 0;
	overflow: hidden;
	padding-top: 26px;
	position: absolute;
	text-align: center;
	top: 0;
	transform: rotate(315deg);
	white-space: nowrap;
	width: 104px;
	z-index: 5;
}
.event1::after {
	content: "1+1=3!";
}
.event2::after {
	content: "ХИТ!";
}
.event3::after {
	content: "Акция!";
}
.event4::after {
	content: "Новинка!";
}

		/* Header */

.headerCon .simpleCon {
	margin-bottom: 2px;
	border-bottom: solid 1px #4bb4e9;
}
.headerCon .simpleBox {
	position: relative;
	min-height: 105px;
}
.headerLogoImg {
	position: absolute;
	left: 0;
	bottom: 0;
}
.headerLogoText {
	position: absolute;
	left: 161px;
	top: 27px;
}
.headerRight {
	float: right;
	text-align: right;
	list-style: none;
	max-width: 500px;
	font-size: 13px;
}
.headerRight li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0 8px;
	padding-top: 7px;
}
.headerRight li.headerTel {
	text-align: right;
	margin-right: 0;
}
a.linkImg {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-top: 27px;
}
a.linkImg:before {
	position: absolute;
	top: 0;
	left: 50%;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	content: " ";
}
a.authorityLinkImg:before {
	margin-left: -16px;
	width: 33px;
	height: 24px;
	background-position: 0 0;
}
a.authorityLinkImg:focus:before,
a.authorityLinkImg:hover:before {
	background-position: -33px 0;
}
a.callbackLinkImg:before {
	margin-left: -13px;
	width: 26px;
	height: 24px;
	background-position: 0 -24px;
}
a.callbackLinkImg:focus:before,
a.callbackLinkImg:hover:before {
	background-position: -26px -24px;
}
.headerNav {
	float: right;
	margin-top: 20px;
	max-width: 780px;
	list-style: none;
}
.headerNav li {
	float: left;
	text-align: center;
	color: #b2b2b2;
}
.headerNav li a {
	display: block;
	padding: 4px 10px;
	color: #333;
	text-decoration: none;
	border-bottom: solid 2px #fff;
}
.headerNav li.currentLink a,
.headerNav li a:focus,
.headerNav li a:hover {
	border-color: #4bb4e9;
}

		/* Content */

.contentCon {
	margin-bottom: 20px;
}

		/* Footer */

.footerCon .simpleCon {
	background: #f5f5f5;
}
.footerCon .simpleBox {
	padding-top: 12px;
	padding-bottom: 5px;
}
.footerH1 {
	text-align: center;
	margin-bottom: 24px;
	font-size: 30px;
	font-weight: 300;
}
.footerCon a[href^="mailto:"],
.footerCon a[href^="skype:"] {
	text-decoration: none;
}
.footerLeft1 {
	float: left;
	width: 280px;
	margin-right: 30px;
}
.footerBox {
	margin-bottom: 20px;
}
.footerH {
	margin-bottom: 4px;
	font-weight: 600;
}
.footerLinkBox {
	font-size: 14px;
	margin-bottom: 18px;
}
.footerDelivery>div {
	float: left;
	text-align: center;
	margin: 0 13px;
}
.footerDelivery>div:first-child {
	margin-left: 0;
}
.footerDelivery img {
	margin-bottom: 4px;
}
.footerLeft2 {
	float: left;
	width: 160px;
}
.footerCon a.linkImg {
	padding: 0 0 0 42px;
}
.footerCon a.linkImg:before {
	top: 50%;
	left: 0;
	margin: -12px 0 0 0;
}
.footerCon a.callbackLinkImg:before {
	left: 3px;
}
.footerRight {
	float: right;
	width: 402px;
	border: solid 1px #b2b2b2;
	background: #f5f5f5;
}

		/* Bottom Box */

.footerBottom {
	padding-top: 7px;
	font-size: 13px;
}
.footerBottomRight {
	float: right;
	list-style: none;
}
.footerBottomRight li {
	float: left;
	margin-left: 40px;
}
.footerBottomRight li:first-child {
	margin-left: 0;
}



.mainLogin {
	text-align: center;
	padding-top: 50px;
	height: 360px;
	font-size: 20px;
	color: #fff;
	background: #90959d url(../img/main_login.jpg) center top no-repeat;
}
.mainLogin .h1 {
	text-transform: uppercase;
	margin-bottom: 6px;
}
.mainLoginBox {
	margin: 25px auto 0;
	padding: 22px 0 29px 0;
	width: 640px;
	font-size: 24px;
	border: solid 1px #fff;
}
.loginButton {
	text-align: center;
	margin-top: 18px;
	font-size: 24px;
	list-style: none;
}
.loginButton li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px;
	font-size: 18px;
}
.loginButton a {
	display: block;
	width: 240px;
	height: 50px;
	line-height: 50px;
	font-weight: 700;
	text-decoration: none;
	border-radius: 9px;
}
.loginButton a.loginButtonLog {
	color: #fff;
	background: #19beff;
	border-bottom: solid 3px #08c;
}
.loginButton a.loginButtonLog:focus,
.loginButton a.loginButtonLog:hover {
	/*color: #19beff;
	background: #fff;*/
	background: #08c;
}
.loginButton a.loginButtonReg {
	line-height: 44px;
	color: #19beff;
	background: #fff;
	border: solid 3px #08c;
}
.loginButton a.loginButtonReg:focus,
.loginButton a.loginButtonReg:hover {
	color: #fff;
	background: #19beff;
}
.sliderHorizontal {
	overflow: hidden;
	position: relative;
	margin-top: 18px;
	height: 280px;
}
.sliderHorizontal>ul {
	text-align: center;
}
.sliderHorizontal>ul li {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
}
.sliderHorizontal>ul li img {
	max-height: 280px;
}
.sliderHorizontal .bx-controls a.bx-prev,
.sliderHorizontal .bx-controls a.bx-next {
	overflow: hidden;
	position: absolute;
	top: 50%;
	display: block;
	text-indent: -999px;
	margin-top: -13px;
	width: 14px;
	height: 26px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
}
.sliderHorizontal .bx-controls a.bx-prev {
	left: 0;
	background-position: 0 -48px;
}
.sliderHorizontal .bx-controls a.bx-prev:focus,
.sliderHorizontal .bx-controls a.bx-prev:hover {
	background-position: -28px -48px;
}
.sliderHorizontal .bx-controls a.bx-next {
	right: 0;
	background-position: -14px -48px;
}
.sliderHorizontal .bx-controls a.bx-next:focus,
.sliderHorizontal .bx-controls a.bx-next:hover {
	background-position: -42px -48px;
}
.diagramBox {
	text-align: center;
	margin-top: 16px;
	list-style: none;
}
.diagramBox li {
	float: left;
	width: 33.33333333%;
}
.diagramImg {
	position: relative;
	margin-bottom: 16px;
	height: 140px;
	line-height: 140px;
	font-size: 49px;
	text-transform: uppercase;
	color: #f90;
}
.diagramImg img {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;
	width: 140px;
	height: 140px;
}
.diagramText {
	padding: 0 20px;
}
.contentBlockLeaf {
	position: relative;
	text-align: justify;
	margin-top: 42px;
	margin-bottom: 21px;
	padding: 27px 35px;
	border: solid 1px #000;
}
.leafH1 {
	position: absolute;
	top: -17px;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
}
.contentBlockLeaf .h1 {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0 38px 0 88px;
	height: 30px;
	line-height: 30px;
	background: #fff url(../img/leaf.png) 38px center no-repeat;
}
.contentBlockLeaf>p {
	margin-bottom: 16px;
}
.contentBlockLeaf>p:last-child {
	margin-bottom: 0;
}

		/* Price List */

.priceListDownload {
	position: relative;
	height: 0;
}
.priceListDownload a {
	position: absolute;
	top: -3px;
	right: 0;
	display: block;
	text-align: center;
	width: 180px;
	height: 40px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f90;
	text-decoration: none;
	border-radius: 3px;
	border: solid 2px #f90;
}
.priceListDownload a span {
	display: inline-block;
	vertical-align: top;
	padding-left: 22px;
	height: 36px;
	background: url(../img/download.png) left center no-repeat;
}
.priceListDownload a:focus,
.priceListDownload a:hover {
	background-color: #ffe5bf;
}
.priceListDownload a:active span {
	position: relative;
	top: 2px;
}

		/* Order */

.orderBox {
	margin: 10px auto;
	padding: 15px 29px 15px 29px;
	width: 900px;
	border: solid 1px #ccc;
}
.orderBoxLeft {
	float: left;
	width: 590px;
}
.orderBoxLeftH {
	font-weight: 700;
}
.orderBoxLeftH span {
	display: inline-block;
	vertical-align: top;
	margin-left: 21px;
}
.orderBoxLeftH span:first-child {
	margin-left: 0;
}
.orderBoxLeftContent ul {
	overflow: hidden;
    margin: 4px 0 3px;
}
.orderBoxLeftContent>span {
	text-decoration: underline;
	cursor: pointer;
}
.orderBoxLeftContent>span:focus,
.orderBoxLeftContent>span:hover {
	color: #19beff;
	text-decoration: none;
}
.orderBoxLeftContent li {
    padding: 1px 0;
    color: #666;
    list-style: none;
}
.orderBoxLeftContent ul li:after,
.order2Text ul li:after {
    content: ";";
}
.orderBoxLeftContent ul li:last-child:after,
.order2Text ul li:last-child:after {
    content: ".";
}
.orderBoxRight {
    float: right;
    text-align: center;
    width: 180px;
    font-size: 24px;
    color: #08c;
}
.orderBoxRight a {
    margin-top: 14px;
}

		/* Order1 */

.orderStatusLine {
	text-align: center;
	margin: 0 auto 24px;
	padding-top: 28px;
	width: 880px;
	list-style: none;
	background: url(../img/status/status1.png) center top no-repeat;
}
.orderStatusLine.orderStatusLine2 {
	background-image: url(../img/status/status2.png);
}
.orderStatusLine.orderStatusLine3 {
	background-image: url(../img/status/status3.png);
}
.orderStatusLine.orderStatusLine4 {
	background-image: url(../img/status/status4.png);
}
.orderStatusLine li {
	float: left;
	width: 25%;
}
.orderCon {
	text-align: center;
	padding: 0 40px;
}
.orderCon table.tableStyle {
	margin-bottom: 0;
}
.orderCon table.tableStyle thead tr td {
	padding-top: 11px;
	padding-bottom: 11px;
}
.orderCon table.tableStyle tr td {
	width: 15%;
	padding-top: 8px;
	padding-bottom: 8px;
}
.orderCon table.tableStyle tr td:first-child {
	width: 50%;
	text-align: center;
}
.orderCon table.tableStyle tr td:last-child {
	width: 5%;
}
.orderCon table.tableStyle tbody tr:last-child {
	border-bottom-style: dashed;
}
.orderTableButton {
	margin: 0 auto;
	width: 15px;
	height: 20px;
	cursor: pointer;
	background: url(../img/sprite.png) 0 -92px no-repeat;
}
.orderTableButton:hover {
	background-position: -15px -92px;
}
.orderCon table input {
	text-align: center !important;
	margin: 0 auto;
	padding: 4px;
	width: 60%;
	border-radius: 3px;
}
.orderConForm1 {
	padding: 10px;
	color: #8d8d8d;
	list-style: none;
	border: solid 1px #ccc;
	border-top: 0 none;
}
.orderConForm1 li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
.orderTotalPrice {
	margin: 3px 0 10px;
	font-size: 24px;
}
.orderTotalPriceN {
	color: #f90;
}
.orderTotalPriceV {
	font-size: 16px;
}
.orderConCheck {
	line-height: 1;
	list-style: none;
	margin: 10px 0;
}
.orderConCheck li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 1px;
}
.orderConCheck li input {
	position: relative;
	top: -1px;
}
.closeItemModal {
	display: none;
	position: absolute;
	left: 40px;
	top: -40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../img/sprite.png) 0 -112px no-repeat;
}
.closeItemModal:focus,
.closeItemModal:hover {
	background-position: -40px -112px;
}
.modalCat {
    position: relative;
	margin: 0 auto;
	width: 880px;
	height: 400px;
	list-style: none;
}
.modalCat>li {
	float: left;
	margin: 2px 0;
	width: 25%;
}
.modalCat>li>a {
	overflow: hidden;
	position: relative;
	display: block;
	width: 216px;
	height: 181px;
	border: solid 3px #fff;
}
.modalCat>li>a:focus,
.modalCat>li>a:hover {
	border: solid 3px #19beff;
}
.modalCat>li>a img {
	z-index: 1;
	position: relative;
	width: 210px;
	height: 175px;
}
.modalCatText {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 136px;
	overflow: hidden;
	text-align: center;
	padding: 9px 6px;
	width: 100%;
	height: 175px;
	color: #fff;
	background: #212121;
	background: rgba(0,0,0,.55);
}
.modalCat>li>a:focus .modalCatText,
.modalCat>li>a:hover .modalCatText {
	top: 0;
}
.modalCatTextH {
	margin-bottom: 8px;
	padding-bottom: 12px;
	background: url(../img/main_category_text_h_bg.png) center bottom no-repeat;
}
.scrollModalCat {
	z-index: 3;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 880px;
	height: 390px;
}
.scrollModalCat>div {
	height: 390px;
	background: #fff;
}
.modalCat ul {
    background: #fff;
}
.modalCat ul li {
	position: relative;
	padding: 5px;
}
.modalCat ul li>div {
	padding: 4px 9px 4px 4px;
	width: 860px;
	border: solid 1px #e6e6e6;
}
.modalCatItemImg {
    float: left;
    width: 136px;
}
.modalCatItemImg img {
    max-width: 136px;
    max-height: 110px;
}
.modalCatItemContent {
    float: left;
    margin: 0 0 0 14px;
    padding: 7px 0;
    width: 495px;
    color: #686868;
}
.modalCatItemContentH {
    color: #000;
}
.modalCatItemContenText {
	overflow: hidden;
    margin: 7px 0 7px;
	height: 40px;
}
.modalCatItemContenLink {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 16px;
    color: #999;
    text-decoration: none;
	cursor: pointer;
}
.modalCatItemContenLink:focus,
.modalCatItemContenLink:hover {
	color: #19beff;
}
.modalCatItemContenLink:before {
    position: absolute;
    width: 10px;
    height: 6px;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background-image:  url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -52px -24px;
    content: " ";
}
.modalCatItemContenLink:hover:before {
    background-position: -52px -30px;
}
.modalCatItemContenLink.openDescr:before {
	background-position: -52px -36px;
}
.modalCatItemContenLink.openDescr:focus:before,
.modalCatItemContenLink.openDescr:hover:before {
	background-position: -52px -42px;
}
.modalCatCost {
	float: right;
	width: 180px;
}
.modalCatCost>div {
	padding: 10px 0;
}
.bestsellerSliderPriceOld {
	color: #999;
	float: left;
	line-height: 1;
	margin-top: 5px;
	width: 40%;
}
.bestsellerSliderPriceOldText {
	text-decoration: line-through;
}
.bestsellerSliderPriceOldCountry {
	font-size: 13px;
}
.bestsellerSliderPriceNew {
	color: #f90;
	float: left;
	font-size: 28px;
	line-height: 0.9;
	margin-top: 12px;
	width: 60%;
}
.bestsellerSliderPriceNew span {
	color: #000;
	font-size: 16px;
}

		/* Order2 */

.order2Con {
	margin-top: 21px;
	list-style: none;
}
.order2Con>li {
	float: left;
	margin: 0 10px;
	width: 300px;
}
.order2Con>li>a {
	display: block;
	text-align: center;
}
.order2Con>li>a img {
	max-width: 300px;
	max-height: 160px;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
}
.order2Con>li>a {
	text-decoration: none;
}
.order2Con>li>a span {
	border-radius: 0 0 3px 3px;
}
.order2Text {
	padding-top: 2px;
	font-size: 14px;
	line-height: 1.35;
}
.order2Text p,
.order2Text ul,
.order2Text div {
	margin: 4px 0;
}
.order2Text ul {
	padding-left: 17px;
	list-style-type: disc;
}

		/* Order3 */

.order3 {
	margin-top: 21px;
}
.blueFormBg {
	margin-bottom: 10px;
	padding: 20px;
	background: #19beff;
}
.blueFormBg input {
	float: left;
	margin-bottom: 0;
	width: 300px;
	border: solid 1px #fff;
	border-radius: 4px;
}
.blueFormBg input:focus {
	border-color: #c5efff;
}
.blueFormBg .jq-selectbox {
	float: left;
	margin-right: 20px;
}
.blueFormBg select {
	width: 450px;
	float: left;
	margin-right: 20px;
}
.blueFormBg .jq-selectbox__select-text {
	position: relative;
	padding: 11px 10px;
	width: 450px;
	cursor: pointer;
	border-radius: 4px;
	background: #fff;
}
.blueFormBg .jq-selectbox__select-text:before {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
	width: 12px;
	height: 8px;
	content: " ";
	background-image:  url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -36px -74px;
}
.blueFormBg .jq-selectbox__select-text:focus:before,
.blueFormBg .jq-selectbox__select-text:hover:before {
	background-position: -36px -82px;
}
.blueFormBg .opened .jq-selectbox__select-text:before {
	background-position: -36px -90px;
}
.blueFormBg .opened .jq-selectbox__select-text:focus:before,
.blueFormBg .opened .jq-selectbox__select-text:hover:before {
	background-position: -36px -98px;
}
.blueFormBg input.datePick {
	float: right;
	width: 130px;
	background: #fff  url(../img/date.png) 90% center no-repeat;
}
.blueFormBg .jq-selectbox__dropdown ul {
	width: 450px;
	border-radius: 4px;
	overflow-y: auto !important;
	background: #fff;
}
.blueFormBg .jq-selectbox__dropdown ul li {
	padding: 6px 12px;
	cursor: pointer;
}
.blueFormBg .jq-selectbox__dropdown ul li:focus,
.blueFormBg .jq-selectbox__dropdown ul li:hover {
	background: #c5efff;
}
.order3 .orangeButton {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 160px;
}
.order3Total {
	text-align: center;
	margin: 20px 0 5px;
	padding: 22px;
	border: dashed 1px #999;
}
.order3Total span {
	font-weight: 700;
}
.linkWindow {
	text-align: center;
	margin: 5px 0 25px;
	font-size: 14px;
	color: #666;
}

		/* Order4 */

.order4Con {
	margin-top: 21px;
	list-style: none;
}
.order4Con li {
	margin-top: 10px;
	padding: 12px 0 12px 24px;
	border: solid 1px #ccc;
}
.order4Con li:first-child {
	margin-top: 0;
}
.order4Con li>div {
	display: inline-block;
	vertical-align: middle;
}
.order4Img {
	text-align: center;
	width: 100px;
}
.order4Img img {
	max-width: 100px;
	height: auto;
}
.order4Text {
	margin: 0 14px 0 12px;
	width: 530px;
	color: #8d8d8d;
}
.order4TextH {
	color: #000;
	margin-bottom: 4px;
}
.order4Link {
	width: 240px;
}

		/* Registration */

.registrationCon {
	border: solid 1px #808080;
}
.registrationCon h1,
.registrationCon .h1 {
	margin: 0;
	padding: 6px 0 10px;
	color: #fff;
	background: #808080;
}
.formStyle {
	padding: 30px 40px;
}
.formStyle input,
.formStyle textarea {
	border-color: #ccc;
	border-radius: 4px;
}
.formStyle input {
	max-width: 450px;
}
.formStyle input:focus,
.formStyle textarea:focus {
	border-color: #19beff;
}
.formStyle .jq-selectbox {
	margin-bottom: 15px;
}
.formStyle select {
	width: 450px;
	margin-bottom: 15px;
}
.formStyle .jq-selectbox__select-text {
	position: relative;
	padding: 10px 9px;
	width: 450px;
	cursor: pointer;
	border-radius: 4px;
	border: solid 1px #ccc;
	background: #fff;
}
.formStyle .jq-selectbox__select-text:before {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
	width: 12px;
	height: 8px;
	content: " ";
	background-image:  url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -36px -74px;
}
.formStyle .jq-selectbox__select-text:focus:before,
.formStyle .jq-selectbox__select-text:hover:before {
	background-position: -36px -82px;
}
.formStyle .opened .jq-selectbox__select-text:before {
	background-position: -36px -90px;
}
.formStyle .opened .jq-selectbox__select-text:focus:before,
.formStyle .opened .jq-selectbox__select-text:hover:before {
	background-position: -36px -98px;
}
.formStyle .jq-selectbox__dropdown ul {
	width: 450px;
	border-radius: 4px;
	overflow-y: auto !important;
	border: solid 1px #ccc;
	background: #fff;
}
.formStyle .jq-selectbox__dropdown ul li {
	padding: 6px 12px;
	cursor: pointer;
}
.formStyle .jq-selectbox__dropdown ul li:focus,
.formStyle .jq-selectbox__dropdown ul li:hover {
	background: #c5efff;
}
.checkboxBox {
	margin-bottom: 15px;
}
.formStyle input[type="checkbox"] {
	display: inline-block;
	vertical-align: top;
	width: auto;
}
.formStyle input[type="submit"].blueButton {
	max-width: 250px;
	height: 48px;
	line-height: 44px;
	font-size: 18px;
	font-weight: 700;
	text-transform: none;
	border-bottom: solid 3px #08c;
}
.formStyle input[type="submit"].blueButton:active {
	line-height: 48px;
}

		/* Scrollbar */

.wrapper.scrollbar-dynamic {
	max-height: none;
}
.scroll-wrapper {
	overflow: hidden !important;
	padding: 0 !important;
	position: relative;
}
.scroll-wrapper > .scroll-content {
	border: none !important;
	box-sizing: content-box !important;
	height: auto;
	left: 0;
	margin: 0;
	max-height: none !important;
	max-width: none !important;
	overflow: scroll !important;
	padding: 0;
	position: relative !important;
	top: 0;
	width: auto !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
	height: 0;
	width: 0;
}
.scroll-element {
	display: none;
}
.scroll-element, .scroll-element div {
	box-sizing: content-box;
}
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
	display: block;
}
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
	cursor: default;
}
.scroll-textarea {
	border: 1px solid #cccccc;
	border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
	overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
	border: none !important;
	box-sizing: border-box;
	height: 100% !important;
	margin: 0;
	max-height: none !important;
	max-width: none !important;
	overflow: scroll !important;
	outline: none;
	padding: 10px;
	position: relative !important;
	top: 0;
	width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
	height: 0;
	width: 0;
}
.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}
.scrollbar-macosx > .scroll-element div {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.scrollbar-macosx > .scroll-element .scroll-element_track { display: none; }
.scrollbar-macosx > .scroll-element .scroll-bar {
	background-color: #4bb4e9;
	display: block;
	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;*/
}
.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;*/
}
.scrollbar-macosx > .scroll-element.scroll-x {
	bottom: 0px;
	height: 0px;
	left: 0;
	min-width: 100%;
	overflow: visible;
	width: 100%;
}
.scrollbar-macosx > .scroll-element.scroll-y {
	height: 100%;
	min-height: 100%;
	right: 0px;
	top: 0;
	width: 0px;
}
/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar { height: 7px; min-width: 10px; top: -9px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar { left: -3px; min-height: 10px; width: 3px; }
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer { left: 2px; }
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size { left: -4px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer { top: 2px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size { top: -4px; }
/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }